# Simulation output files
/results/*
/mesa/genetic_results/*

/test/output/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cython debug symbols
cython_debug/

# VSCODE
/.vscode/

# Other repos

/examples/
/Genetic-Programming-Function-Approximation/
/PredatorPreyReinfLearning/

# Large files
results/run_grid_6.hdf

# Output html / pdf
/output/

.DS_STORE
.venv11/pyvenv.cfg
.venv11/bin/activate
.venv11/bin/activate.csh
.venv11/bin/activate.fish
.venv11/bin/Activate.ps1
.venv11/bin/chardetect
.venv11/bin/cookiecutter
.venv11/bin/cpuinfo
.venv11/bin/doesitcache
.venv11/bin/dul-receive-pack
.venv11/bin/dul-upload-pack
.venv11/bin/dulwich
.venv11/bin/f2py
.venv11/bin/fonttools
.venv11/bin/ipython
.venv11/bin/ipython3
.venv11/bin/jsonschema
.venv11/bin/jupyter
.venv11/bin/jupyter-kernel
.venv11/bin/jupyter-kernelspec
.venv11/bin/jupyter-migrate
.venv11/bin/jupyter-run
.venv11/bin/jupyter-troubleshoot
.venv11/bin/jupyter-trust
.venv11/bin/keyring
.venv11/bin/markdown-it
.venv11/bin/mesa
.venv11/bin/normalizer
.venv11/bin/pip
.venv11/bin/pip3
.venv11/bin/pip3.11
.venv11/bin/pkginfo
.venv11/bin/poetry
.venv11/bin/pt2to3
.venv11/bin/ptdump
.venv11/bin/ptrepack
.venv11/bin/pttree
.venv11/bin/py.test
.venv11/bin/pyftmerge
.venv11/bin/pyftsubset
.venv11/bin/pygmentize
.venv11/bin/pyproject-build
.venv11/bin/pytest
.venv11/bin/python
.venv11/bin/python3
.venv11/bin/python3.11
.venv11/bin/rich-click
.venv11/bin/ruff
.venv11/bin/slugify
.venv11/bin/solara
.venv11/bin/tqdm
.venv11/bin/ttx
.venv11/bin/uvicorn
.venv11/bin/virtualenv
.venv11/bin/watchfiles
.venv11/bin/watchmedo
.venv11/bin/xattr
.venv11/etc/jupyter/jupyter_notebook_config.d/solara.json
.venv11/etc/jupyter/jupyter_server_config.d/solara.json
.venv11/etc/jupyter/nbconfig/notebook.d/jupyter-vue.json
.venv11/etc/jupyter/nbconfig/notebook.d/jupyter-vuetify.json
.venv11/etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
.venv11/include/b2nd.h
.venv11/include/blosc2.h
.venv11/include/blosc2/blosc2-common.h
.venv11/include/blosc2/blosc2-export.h
.venv11/include/blosc2/blosc2-stdio.h
.venv11/include/blosc2/codecs-registry.h
.venv11/include/blosc2/filters-registry.h
.venv11/include/blosc2/tuners-registry.h
.venv11/share/jupyter/kernels/python3/kernel.json
.venv11/share/jupyter/kernels/python3/logo-32x32.png
.venv11/share/jupyter/kernels/python3/logo-64x64.png
.venv11/share/jupyter/kernels/python3/logo-svg.svg
.venv11/share/jupyter/lab/extensions/jupyter-vue-1.11.1.tgz
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/install.json
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/package.json
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/package.json.orig
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/plugin.json
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/39.1949673a9fd9c144c15b.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/327.68dbf8491690b3aff1e7.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/420.68e690774ec05e4e9665.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/439.33696bc45fbd403becbb.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/439.33696bc45fbd403becbb.js.LICENSE.txt
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/446.fdf8b1b233cb8c1783f6.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/586.f9a8b8b4dd029695640b.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/647.e39f528c8fee8adb9110.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/651.fe40a967a60b543cf15c.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/651.fe40a967a60b543cf15c.js.LICENSE.txt
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/701.043aefe0b66133629348.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/722.3fefeac9cae358348cbc.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/727.2abc0b27bd0932fb5f81.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/898.402374e73a78886eba74.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/remoteEntry.5586bbdee77c5d90dd3c.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/style.js
.venv11/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/third-party-licenses.json
.venv11/share/jupyter/labextensions/jupyter-vue/package.json
.venv11/share/jupyter/labextensions/jupyter-vue/static/125.465cc3afc1a74ee7901d.js
.venv11/share/jupyter/labextensions/jupyter-vue/static/140.81618e2257248b1f4c55.js
.venv11/share/jupyter/labextensions/jupyter-vue/static/144.f2941768ec558bb0d380.js
.venv11/share/jupyter/labextensions/jupyter-vue/static/144.f2941768ec558bb0d380.js.LICENSE.txt
.venv11/share/jupyter/labextensions/jupyter-vue/static/261.f58c2a30bdca17c7356c.js
.venv11/share/jupyter/labextensions/jupyter-vue/static/486.653c734a29168093bd34.js
.venv11/share/jupyter/labextensions/jupyter-vue/static/486.653c734a29168093bd34.js.LICENSE.txt
.venv11/share/jupyter/labextensions/jupyter-vue/static/848.582f89dbda10db76f285.js
.venv11/share/jupyter/labextensions/jupyter-vue/static/remoteEntry.f993df579401788f32ef.js
.venv11/share/jupyter/labextensions/jupyter-vue/static/style.js
.venv11/share/jupyter/labextensions/jupyter-vue/static/third-party-licenses.json
.venv11/share/jupyter/labextensions/jupyter-vuetify/package.json
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/2d0a0d8f5f173be15a67aa084db94fe6.eot
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/5d4aeb4e5f5ef754e307d7ffaef688bd.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/7b770d6c53423deb1a8e49d3c9175184.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/8c2ade503b34e31430d6c98aa29a52a3.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/010c1aeee3c6d1cbb1d5761d80353823.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/18.65b4e6d7bbb837a6285e.js
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/19b7a0adfdd4f808b53af7e2ce2ad4e5.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/29b882f018fa6fe75fd338aaae6235b8.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/037d830416495def72b7881024c14b7b.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/96c476804d7a788cc1c05351b287ee41.eot
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/102.602144dedc889a9e2f01.js
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/102.602144dedc889a9e2f01.js.LICENSE.txt
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/210a7c781f5a354a0e4985656ab456d9.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/261.ccbcebdc2f60023f1d4f.js
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/353.3d1742277c7640de5c75.js
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/0509ab09c1b0d2200a4135803c91d6ce.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/510dec37fa69fba39593e01a469ee018.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/635.ba9631c2c215c7a91978.js
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/701.cbac5919a0796529305e.js
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/846d1890aee87fde5d8ced8eba360c3a.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/925.055855ac168b1fdaabd9.js
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/987b84570ea69ee660455b8d5e91f5f1.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/6232f43d15b0e7a0bf0fe82e295bdd06.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/9680d5a0c32d2fd084e07bbc4c8b2923.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/55536c8e9e9a532651e3cf374f290ea3.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/285467176f7fe6bb6a9c6873b3dad2cc.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/a1471d1d6431c893582a5f6a250db3f9.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/b4917be25082eb793b5363f2fdb5f282.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/bafb105baeb22d965c70fe52ba6b49d9.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/bc833e725c137257c2c42a789845d82f.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/cf6613d1adf490972c557a8e318e0868.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/d8bcbe724fd6f4ba44d0ee6a2675890f.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/d704bb3d579b7d5e40880c75705c8a71.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/d0066537ab6a4c6f8285a5aeb3ba5f09.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/d69924b98acd849cdeba9fbff3f88ea6.woff2
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/da4ea5cdfca6b3baab285741f5ccb59f.ttf
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/de8b7431b74642e830af4d4f4b513ec9.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/e9dbbe8a693dd275c16d32feb101f1c1.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/f51112347be6b44f9ef46151a971430d.ttf
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/ffcc050b2d92d4b14a4fcb527ee0bcc8.woff
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/remoteEntry.c7fc04e3b45f77cc0ae7.js
.venv11/share/jupyter/labextensions/jupyter-vuetify/static/style.js
.venv11/share/jupyter/nbextensions/jupyter-js-widgets/extension.js
.venv11/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.LICENSE.txt
.venv11/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map
.venv11/share/jupyter/nbextensions/jupyter-vue/extension.js
.venv11/share/jupyter/nbextensions/jupyter-vue/index.js
.venv11/share/jupyter/nbextensions/jupyter-vue/index.js.LICENSE.txt
.venv11/share/jupyter/nbextensions/jupyter-vue/index.js.map
.venv11/share/jupyter/nbextensions/jupyter-vue/nodeps.js
.venv11/share/jupyter/nbextensions/jupyter-vue/nodeps.js.LICENSE.txt
.venv11/share/jupyter/nbextensions/jupyter-vue/nodeps.js.map
.venv11/share/jupyter/nbextensions/jupyter-vuetify/2d0a0d8f5f173be15a67aa084db94fe6.eot
.venv11/share/jupyter/nbextensions/jupyter-vuetify/5d4aeb4e5f5ef754e307d7ffaef688bd.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/7b770d6c53423deb1a8e49d3c9175184.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/8c2ade503b34e31430d6c98aa29a52a3.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/010c1aeee3c6d1cbb1d5761d80353823.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/19b7a0adfdd4f808b53af7e2ce2ad4e5.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/29b882f018fa6fe75fd338aaae6235b8.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/037d830416495def72b7881024c14b7b.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/96c476804d7a788cc1c05351b287ee41.eot
.venv11/share/jupyter/nbextensions/jupyter-vuetify/210a7c781f5a354a0e4985656ab456d9.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/0509ab09c1b0d2200a4135803c91d6ce.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/510dec37fa69fba39593e01a469ee018.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/846d1890aee87fde5d8ced8eba360c3a.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/987b84570ea69ee660455b8d5e91f5f1.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/6232f43d15b0e7a0bf0fe82e295bdd06.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/9680d5a0c32d2fd084e07bbc4c8b2923.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/55536c8e9e9a532651e3cf374f290ea3.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/285467176f7fe6bb6a9c6873b3dad2cc.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/a1471d1d6431c893582a5f6a250db3f9.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/b4917be25082eb793b5363f2fdb5f282.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/bafb105baeb22d965c70fe52ba6b49d9.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/bc833e725c137257c2c42a789845d82f.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/cf6613d1adf490972c557a8e318e0868.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/d8bcbe724fd6f4ba44d0ee6a2675890f.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/d704bb3d579b7d5e40880c75705c8a71.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/d0066537ab6a4c6f8285a5aeb3ba5f09.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/d69924b98acd849cdeba9fbff3f88ea6.woff2
.venv11/share/jupyter/nbextensions/jupyter-vuetify/da4ea5cdfca6b3baab285741f5ccb59f.ttf
.venv11/share/jupyter/nbextensions/jupyter-vuetify/de8b7431b74642e830af4d4f4b513ec9.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/e9dbbe8a693dd275c16d32feb101f1c1.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/extension.js
.venv11/share/jupyter/nbextensions/jupyter-vuetify/f51112347be6b44f9ef46151a971430d.ttf
.venv11/share/jupyter/nbextensions/jupyter-vuetify/ffcc050b2d92d4b14a4fcb527ee0bcc8.woff
.venv11/share/jupyter/nbextensions/jupyter-vuetify/index.js
.venv11/share/jupyter/nbextensions/jupyter-vuetify/index.js.map
.venv11/share/jupyter/nbextensions/jupyter-vuetify/nodeps.js
.venv11/share/jupyter/nbextensions/jupyter-vuetify/nodeps.js.map
.venv11/share/man/man1/ipython.1
.venv11/share/man/man1/ttx.1
